@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: #eaf4f4;
}

.parents {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 5px;
  margin: 5px;
}
button:hover {
  background-color: black;
  color: white;
}
h1 {
  font-size: 40px;
  margin: 0;
}
h2 {
  font-size: 55px;
  margin: 0;
}
